body {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.containerh img {
    width: 550px;
    height: 550px;
}

.container-fluid i {
     margin-bottom: 30px;
     margin: 10px;
}




.container-fluid a {
    color: white;
}

.container-fluid button {
    background-color: #abbaab; 
    border-bottom-right-radius: 40%;
    border-top-right-radius: 10%;
}

.busqueda {

}

.search-box {
    width: fit-content;
}